main {
	display: flex;
}

.detail-img {
	box-shadow: 0px 1px 10px;
	height: 400px;
	width: 500px;
}

.wrapper-detail {
	height: 450px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #772e25;
}
.form-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 20px 40px;
	background-color: snow;
	border-radius: 0px;
}

.space {
	height: 200px;
	display: flex;
	width: 100%;
	justify-content: center;
	background-color: #772e25;
}

.wrapper-map {
	height: 180px;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	background-color: #772e25;
}
.form-wrapper-map {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px 40px;
	background-color: snow;
}

.reviewer {
	font-weight: bold;
}

.photo-reviewer {
	height: 30px;
	width: 30px;
}

.form-wrapper-img {
	padding-top: 10px;
	padding-left: 10px;
	width: 520px;
	height: 420px;
	display: flex;
	flex-direction: column;
	background-color: snow;
}

.detail {
	width: 60%;
	padding: 30px;
}
.detail > div {
	margin-bottom: 10px;
}
.img-container {
	padding: 30px;
}
.detail_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.detail_place {
	display: flex;
	align-items: center;
	margin-left: 15px;
}
.detail_descrition {
	word-break: break-all;
}
.back-to-maps {
	width: 40px;
	height: auto;
	background-color: #283d3b;
	writing-mode: vertical-rl;
	text-orientation: upright;
	float: right;
	padding: 10px;
	position: sticky;
	top: 0;
	margin-top: 40vh;
	border: 1px solid black;
	color: white;
}
.back-to-maps a {
	color: white;
}
.back-to-maps a:hover {
	color: #d48928;
}
.wrapper-all {
	background-color: #762f26;
}

@media only screen and (max-width: 1200px) {
	main {
		flex-direction: column;
	}
	.img-container {
		width: 80%;
		max-width: none;
	}

	.wrapper-detail {
		padding-left: 100px;
	}

	.detail-img {
		height: 230px;
		width: 330px;
	}

	.form-wrapper-img {
		margin-top: -100px;
		width: 350px;
		height: 250px;
	}

	.detail {
		width: 100%;
	}

	.wrapper {
		flex-wrap: wrap;
	}
	.form-wrapper {
		margin-left: 20px;
	}

	.form-wrapper-img {
		width: 300px;
		height: 220px;
		margin-top: -200px;
	}

	.detail-img {
		box-shadow: 0px 1px 10px;
		height: 260px;
		width: 280px;
	}
}
