.foot-container {
	height: 100vh;
	position: relative;
}

footer {
	display: flex;
	justify-content: space-evenly;
	background-color: skyblue;
	color: white;
	padding: 15px;
	font-size: 18px;
	z-index: 1000;
	width: 100%;
	position: absolute;
	bottom: 0;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: none;
	color: red;
}
