.foot-container {
	position: relative;
}

footer {
	display: flex;
	background-color: #283d3b;
	color: white;
	padding: 10px;
	font-size: 18px;
	z-index: 1000;
	width: 100%;
	bottom: 0;
}
.footer-strings {
	display: inline-flex;
	margin-left: 20px;
	text-decoration: none;
	color: white;
}

.footer-strings:hover {
	color: #d48928;
}

.footer-separator {
	color: white;
	font-weight: bold;
}

.footer-icon:hover {
	cursor: pointer;
	color: #d48928;
}
