.foot-container {
<<<<<<< HEAD
	height: auto;
=======
>>>>>>> 185698177a4d3cd159ba68b44a07395d9db3b8ed
	position: relative;
}

footer {
	display: flex;
	justify-content: space-evenly;
	background-color: skyblue;
	color: white;
	padding: 15px;
	font-size: 18px;
	z-index: 1000;
	width: 100%;
	bottom: 0;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: none;
	color: red;
}
